.emacs.bak/
build/
__pycache__/
src/flair_brookslab.egg-info/
test/tmp-input/
test/output/
.DS_Store
._*

*.bam
*.bai
*.gz
/dist/
.claude.bak/
.claude/

# directory for taking random notes while working, never checked in
/notes/
